<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Informations</title>
    <link rel="icon" href="/static/oui.jpg" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/static/Info.css">
</head>
<body>
    <header>
        <h1>Bienvenue sur la page d'accueil des infos</h1>
        <a href="/login" class="icon-container"><img class="icon-connexion" src="/static/icone_connexion.png" alt="Icône de connexion"></a>
        <p>Gérez vos rendez-vous en toute simplicité</p>
    </header>

    <section class="site-role">
        <h2>Le rôle du site</h2>
        <p>Notre site vous offre la possibilité de gérer vos rendez-vous de manière efficace. Que vous soyez un particulier ou un client, voici ce que vous pouvez faire :</p>

        <div class="role-section">
            <h3>Pour les Particuliers :</h3>
            <ul>
                <li>Visualisez et gérez tous vos rendez-vous à venir.</li>
                <li>Consultez les détails de vos rendez-vous passés.</li>
                <li>Gérez vos rendez-vous en cours.</li>
            </ul>
        </div>

        <div class="role-section">
            <h3>Pour les Clients :</h3>
            <ul>
                <li>Consultez les informations des particuliers associés.</li>
                <li>Visualisez vos rendez-vous à venir.</li>
                <li>Accédez aux détails des rendez-vous passés des particuliers.</li>
            </ul>
        </div>
    </section>

    <nav>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/list_membre">Liste des Membres</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>

</body>
</html>
