<!DOCTYPE html>
<html>
<head>
    <title>Page d'accueil de ce site</title>
    <link rel="icon" href="/static/oui.jpg" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/static/Info.css">
</head>
<body>
    <header>
        <h1>Bienvenue sur la page d'accueil des infos</h1>
        <p>test</p>
    </header>

    <nav>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/list_membre">Liste des Membres</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</body>
</html>