<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page de Connexion</title>
    <link rel="icon" href="/static/oui.jpg" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/static/login.css">
</head>
<body>

<header>
    <h1>Connexion</h1>
</header>

<section>
    <form method="POST" action="{{ url_for('login', next=request.args.get('next')) }}">
        <div>
            <label for="username">Nom d'utilisateur :</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="password">Mot de passe :</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <button type="submit">Se connecter</button>
        </div>
    </form>
    

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    <p>Vous n'avez pas de compte ? <a href="/inscription">S'inscrire</a></p>
</section>

<nav>
    <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/list_membre">Liste des Membres</a></li>
        <li><a href="/info">Informations</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>

</body>
</html>
