<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil</title>
    <link rel="icon" href="/static/oui.jpg" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/static/profil.css">
</head>
<body>

<header>
    <h1>Profil</h1>
</header>

<section>
    <!-- Formulaire pour modifier le profil -->
    <form method="POST" action="/modify_profile">
        <div>
            <label for="username">Nom d'utilisateur :</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="password">Mot de passe :</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <label for="description">Description :</label>
            <textarea id="description" name="description" required></textarea>
        </div>
        <div>
            <button type="submit">Enregistrer</button>
        </div>
    </form>
</section>

<nav>
    <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/list_membre">Liste des Membres</a></li>
        <li><a href="/info">Informations</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>

</body>
</html>
